[Unit]
Description=CHIMERA Crypto Trading Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=jo
WorkingDirectory=/home/jo/ChimeraCrypto
ExecStart=/home/jo/ChimeraCrypto/build/chimera
ExecStop=/bin/kill -SIGINT $MAINPID
Restart=on-failure
RestartSec=10
StandardOutput=append:/home/jo/ChimeraCrypto/logs/chimera_service.log
StandardError=append:/home/jo/ChimeraCrypto/logs/chimera_service.log

[Install]
WantedBy=multi-user.target
